/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

:root {
    --font-color: #eeeeee;
    --theme-col-1: #393e46;
    --theme-col-2: #1b263b;
    --theme-col-3: #0d1b2a;
    --active-col: #0077ff;
    --btn-col: #0056b3;
    --sidebar-hover: #3a6ea5;
}

body {
    height: 100vh;
    width: 100%;
    background-color: var(--theme-col-3);
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 9fr;
    grid-template-areas:
        "head head"
        "sidebar main";
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: var(--font-color);
    font-weight: 600;
}

header {
    grid-area: head;
    background-color: var(--theme-col-2);
    display: flex;
    align-items: center;
    padding: 10px;
}

.sidebar {
    width: 100%;
    grid-area: sidebar;
    background-color: var(--theme-col-2);
    display: grid;
    justify-content: stretch;
    grid-template-rows: 1fr auto 2fr auto;
}

.upper-sidebar,
.lists,
.new-list {
    align-self: stretch;
    justify-self: stretch;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
}

hr {
    margin-left: 10%;
}

.lists {
    margin-top: 20px;
    justify-content: start !important;
    overflow-y: auto;
}

.upper-sidebar > div,
.lists > div,
.new-list {
    padding: 8px;
}

.upper-sidebar > div:hover:not(.active),
.lists > div:hover:not(.active),
.new-list:hover:not(.active) {
    padding: 8px;
    background-color: var(--sidebar-hover);
}

.new-list {
    font-weight: bold;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 10%;
    padding: 20px;
}

.main img {
    filter: invert(20%) sepia(30%) saturate(7314%) hue-rotate(201deg)
        brightness(95%) contrast(101%);
}

.main img:hover {
    filter: invert(27%) sepia(71%) saturate(3005%) hue-rotate(203deg)
        brightness(104%) contrast(103%);
}

.new-task {
    display: grid;
    background-color: var(--theme-col-2);
    /* padding: 8px 20px; */
    border-radius: 21px;
}

.upper-section {
    display: grid;
    position: relative;
    padding: 10px 20px;
    border-radius: 21px;
    width: 100%;
    background-color: var(--theme-col-2);
}

.upper-section input {
    width: 100%;
    background-color: var(--theme-col-2);
}

.upper-section button {
    position: absolute;
    width: 48px;
    height: 28px;
    left: 1172px;
    top: 8px;
    z-index: 10;
    background-color: var(--btn-col) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper-section input,
.upper-section button {
    outline: none;
    border: none;
}

#desc {
    resize: none;
    /* border-radius: 21px; */
    border: none;
    outline: none;
    background-color: var(--theme-col-2);
    border-top: 1px solid var(--font-color);
    margin-top: 10px;
    padding-top: 10px;
}

.lower-section {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 10px 20px;
    border-radius: 21px;
    width: 100%;
}

.icons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icons button {
    background-color: var(--theme-col-2);
    outline: none;
    border: none;
}

.important-icon-hollow {
    margin-top: -2px;
}

.add-button {
    border: none;
    outline: none;
    background-color: var(--btn-col);
    border-radius: 21px;
    padding: 4px 20px;
    color: var(--font-color);
    font-weight: 600;
}

.add-button:hover {
    background-color: var(--active-col);
}

.task-details {
    display: grid;
    background-color: var(--theme-col-1);
    border-radius: 21px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 8px 20px;
}

.task-details > div {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
}

.task-list {
    list-style-type: none;
    display: grid;
    grid-template-rows: 50px;
    grid-auto-rows: 50px;
    background-color: var(--theme-col-2);
    border-radius: 21px;
    padding: 8px 20px;
    gap: 14px;
}

.task-list li {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr;
    padding: 8px 20px;
    background-color: var(--theme-col-1);
    border-radius: 21px;
}

.task-list li > * {
    display: flex;
    align-items: center;
}

.checkbox {
    position: relative;
    overflow: hidden;
}

.checkbox__input {
    position: absolute;
    top: -100px;
    left: -100px;
}

.checkbox__inner {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid var(--active-col);
    background: transparent no-repeat center;
}

.checkbox__input:checked + .checkbox__inner {
    border-color: var(--active-col);
    background-color: var(--btn-col);
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='14px' height='10px' viewBox='0 0 14 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 59.1 (86144) - https://sketch.com --%3E%3Ctitle%3Echeck%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='ios_modification' transform='translate(-27.000000, -191.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cg id='Group-Copy' transform='translate(0.000000, 164.000000)'%3E%3Cg id='ic-check-18px' transform='translate(25.000000, 23.000000)'%3E%3Cpolygon id='check' points='6.61 11.89 3.5 8.78 2.44 9.84 6.61 14 15.56 5.05 14.5 4'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 14px 10px;
}

.task-name {
    padding-left: 8%;
}

.task-date {
    padding-left: 22%;
}

.task-imp {
    justify-content: center;
}

.active {
    background-color: var(--active-col);
}

#dueDate {
    display: none;
}

::placeholder {
    color: var(--font-color);
    opacity: 0.9;
}

input {
    color: var(--font-color);
}

.new-list {
    background-color: var(--theme-col-2);
    color: var(--font-color);
    border: none;
}

.task-name {
    position: relative;
}

.hide {
    display: none;
    height: 70px;
    width: 500px;
    overflow-y: scroll;
}

.task-name:hover > .hide {
    display: block;
    position: absolute;
    background-color: var(--font-color);
    color: var(--theme-col-3);
    border: none;
    outline: none;
    padding: 12px;
    top: -70px;
    left: 27px;
}
